
    .background {
        width: 34rem;
        border: solid 2px #4e7aa3;
        margin: auto;
        margin-top: 2rem;
        padding: 0.6rem 0.8rem;
    }

    .search-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 1rem 2rem;
    }

    .list-form {
        font-size: 16px;
        width: 100%;
        display: flex;
    }

    .list-form-text {
        width: 5rem;
        padding: 0.6rem 0.6rem 0.2rem;
        text-align: center;
    }

    .input-text {
        width: 16rem;
        height: 2.6rem;
        padding-left: 0.4rem;
        border: 2px solid #4e7aa3;
    }

    select {
        border: 2px solid #4e7aa3;
        padding: 0px;
        outline: none;
        width: 16rem;
        height: 2.6rem;
    }

    .list-search {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 2rem;
    }

    .btnSearch {
        height: 2.6rem;
        width: 6rem;
        background-color: #5b9bd5;
        border-radius: 10px;
        border: solid 2px #385e8b;
        cursor: pointer;
        color: white;
        margin-right: 2rem;
    }

    .btnDelete {
        width: 4rem;
        margin-right: 4rem;
    }

    .search-res {
        display: flex;
        justify-content: flex-start;
    }

    .list-add {
        display: flex;
        justify-content: flex-end;
    }

    .btnAdd {
        height: 2rem;
        width: 4.8rem;
        background-color: #5b9bd5;
        border-radius: 5px;
        border: solid 2px #385e8b;
        cursor: pointer;
        color: white;
    }

    table {
        width: 100%;
    }

    td,
    th {
        text-align: left;
        padding: 0.6rem;
        margin-top: 1rem;
    }

    .list-student {
        margin-top: 0.2rem;
    }

    .btnAction {
        width: 3rem;
        color: white;
        background-color: #92b1d6;
        border: solid 1px #4e7aa3;
        cursor: pointer;
    }
    